*{
    margin: 0;
    padding: 0;
}

button {
    width: 400px;
    height: 500px;
    background-image: url('../images/red-envelope.png');
    background-size: 100%;
    padding: 0;
    border: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prize{
    color: #e0bf00;
    font-size: 300%;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        button {
            width: 300px;
            height: 390px;
            background-image: url('../images/red-envelope.png');
            background-size: 100%;
            padding: 0;
            border: none;
        }

        .prize{
            color: #e0bf00;
            font-size: 100%;
        }
    }